/* NOTION CSS OVERRIDE */
.card-shadow {
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  backdrop-filter: blur(5px);
  background: rgba(255,522,255,0.3);
}

.card-img-shadow {
  box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 0 0 transparent;
  background: rgba(255,522,255,0.6);
}

.cover-wrap {
  width: 100%;
  overflow: hidden;
}

.cover-wrap img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.cover-wrap img:hover {
  transform: scale(1.2);
}

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-3;
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border-2;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection-row {
  @apply hidden;
}

.bg-gray-100 { background-color: #F3F4F6; }
.bg-red-100 { background-color: #FEE2E2; }
.bg-yellow-100 { background-color: #FEF3C7; }
.bg-orange-100 { background-color: #fedfc7; }
.bg-green-100 { background-color: #D1FAE5; }
.bg-blue-100 { background-color: #DBEAFE; }
.bg-indigo-100 { background-color: #E0E7FF; }
.bg-purple-100 { background-color: #EDE9FE; }
.bg-pink-100 { background-color: #FCE7F3; }

.border-gray-100 { border-color: #E5E7EB; }
.border-red-100 { border-color: #FECACA; }
.border-yellow-100 { border-color: #FDE68A; }
.border-orange-100 { border-color: #fdc98a; }
.border-green-100 { border-color: #A7F3D0; }
.border-blue-100 { border-color: #BFDBFE; }
.border-indigo-100 { border-color: #C7D2FE; }
.border-purple-100 { border-color: #DDD6FE; }
.border-pink-100 { border-color: #FBCFE8; }

.text-gray-400 { color: #9CA3AF; }
.text-red-400 { color: #F87171; }
.text-yellow-400 { color: #FBBF24; }
.text-orange-400 { color: #d96906; }
.text-green-400 { color: #34D399; }
.text-blue-400 { color: #60A5FA; }
.text-indigo-400 { color: #818CF8; }
.text-purple-400 { color: #A78BFA; }
.text-pink-400 { color: #F472B6; }

.ztitle {
  position: relative;
  text-shadow: 0 0 2px rgba(150, 150, 150, 0.9);
}
.ztitle::after {
  position: absolute;
  content: '';
  width: 90px;
  height: 10px;
  left: -5px;
  top: 18px;
  background-color: #8750f541;
}

.zHead {
  background: url(../public/head.png) center no-repeat;
  background-size: 100%;
}
/* .zMesh1 {
  background: url(../public/mesh.jpg) center no-repeat;
  background-size: 100%;
  mix-blend-mode: screen;
}
.zMesh2 {
  background: url(../public/mesh.jpg) center no-repeat;
  background-size: 100%;
  mix-blend-mode: multiply;
} */
/* .zBanner {
  background: url(../public/ban0.jpg) center no-repeat;
  background-size: 100%;
} */
.zLinear {
  background-image: linear-gradient(
238deg,red,#ff8000,#ff0,#80ff00,#0f0,#00ff80,#0ff,#0080ff,#00f,#8000ff,#ff0080);
  background-size: 700% 100%;
  background-position: 2% 80%;
  opacity: 0.2;
}